.LogoutButton2 {
    background-color: #02407F;
    color: white;
}

.LogoutButton2:hover {
    background-color: #02407F;
    color: white;
}

.SaveButton {
    background-color: #02407F;
    color: white;
}

.SaveButton:hover {
    background-color: #02407F;
    color: white;
}